@model Z_ERP.Models.sal_Sales

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>sal_Sales</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SalesItemsID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SalesItemsID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SaleQuantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SaleQuantity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SalePrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SalePrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RecieptNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RecieptNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SaleIsReturned)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SaleIsReturned)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SaleReturnedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SaleReturnedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SaleDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SaleDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SaleID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
