@model Z_ERP.Models.pur_Purchase

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>pur_Purchase</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseItemNameAr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurchaseItemNameAr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseItemNameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurchaseItemNameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseItemQuantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurchaseItemQuantity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseItemPriceSDG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurchaseItemPriceSDG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseItemPriceUSD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurchaseItemPriceUSD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SuplierID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SuplierID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CategoryID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CategoryID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubCategoryID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubCategoryID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseItemAddedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurchaseItemAddedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ItemID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ItemID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BillNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BillNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseStatusID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurchaseStatusID)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
