@model IEnumerable<Z_ERP.Models.trc_Expenses>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpLoaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpLoaded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ExpenseID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
