@model Z_ERP.Models.inv_Inventory
@{
    ViewBag.Title = "Create";
    Layout = null;
}
 

@using (Html.BeginForm("Save", "Inventory", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.InvertoryID  > 0)
    {
        @Html.HiddenFor(a => a.InvertoryID)
    }
 
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group col-lg-6">
 
            <label for="">العنوان</label> 
                @Html.EditorFor(model => model.InvertoryAddressAr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvertoryAddressAr, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-lg-6">

            <label for="">الاسم</label>
            @Html.EditorFor(model => model.InvertoryNameAr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InvertoryNameAr, "", new { @class = "text-danger" })
        </div>
    

        <div class="form-group col-lg-6">
            <label for="">تاريخ الايجار</label>
            @Html.EditorFor(model => model.InvertoryRentDate, new { htmlAttributes = new { @class = "form-control" ,@type="date"} })
            @Html.ValidationMessageFor(model => model.InvertoryRentDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-lg-6">
            <label for=""> إيجار المخزن</label>
            @Html.EditorFor(model => model.InvertoryRent, new { htmlAttributes = new { @class = "form-control", @type="number" } })
            @Html.ValidationMessageFor(model => model.InvertoryRent, "", new { @class = "text-danger" })
        </div>

   <div class="clearfix"></div>
     
}

<div>
     
</div>
