@model Z_ERP.Models.hr_Employees

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>hr_Employees</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeFullName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeUserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeUserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeePassword)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeePassword)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeAcountNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeAcountNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeBankBranch)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeBankBranch)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeGender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeGender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeMaritelStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeMaritelStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeDepartmentID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeDepartmentID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeJobID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeJobID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeStatusDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeStatusDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegisterationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegisterationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeLastLogin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeLastLogin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeEmail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeeEmail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmployeePhone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmployeePhone)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
