@model Z_ERP.Models.inv_Items

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Delete</h2>

@using (Html.BeginForm("Remove", "Items", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    if (Model != null && Model.ItemID > 0)
    {
        @Html.HiddenFor(a => a.ItemID)
    }

    <div>




        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-lg-6">

            <label> الاسم</label>
            @Html.EditorFor(model => model.ItemNameAr, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.ItemNameAr, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-lg-6">
            <label> الكمية القديمة بالمخزن</label>
            @Html.EditorFor(model => model.ItemQuantity, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.ItemQuantity, "", new { @class = "text-danger" })

        </div>

         





        <div class="clearfix"></div>
        
    </div>

    <script type="text/javascript">


    </script>
}